.card-container{
    background-color: #d4cdcd69;
    width: 400px;
    height: 350px;
    transition: transform 0.2s;
    text-align: start;
    padding: 40px;
}

.card-container img{
    width: 37%;
    height: 100px;
    object-fit: cover;
    padding: 5%;
}